.new-hero-card {
  cursor: pointer;
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;

  &-background {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  &-id-container {
    z-index: 2;
    position: absolute;
    right: 0;
    width: 22%;
  }
  &-levelreal {
    z-index: 2;
    position: absolute;
    top: 0.6vw;
    left: 0.6vw;
    font-family: "DM Serif Display", serif;
    font-size: 1vw;
    line-height: 1.2vw;
    font-weight: normal;
    color: #f9da9c;
  }
  &-id {
    z-index: 3;
    top: 0.6vw;
    right: 0.6vw;
    position: absolute;
    font-family: "DM Serif Display", serif;
    font-size: 1.1vw;
    line-height: 1.3vw;
    font-weight: 400;

    transform: rotate(45deg);
    color: #f9da9c;
  }
  &-level {
    z-index: 2;
    font-family: "DM Serif Display", serif;
    font-size: 1.1vw;
    line-height: 1.3vw;
    font-weight: 400;
    color: #f9da9c;
    position: absolute;
    top: 4.5%;
    left: 48%;
  }
  &-element-background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &-name {
    font-size: 1.1vw;
    line-height: 1.3vw;
    font-weight: 400;
    color: #f9da9c;
    z-index: 2;
    position: absolute;
    top: 56%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-element {
    z-index: 2;
    position: absolute;
    width: 15%;
    left: 3.5%;
    top: 58.5%;
  }
  &-type {
    z-index: 2;
    position: absolute;
    width: 15%;
    right: 3.5%;
    top: 58.5%;
  }
  &-hero-image {
    z-index: 3;
    position: absolute;
    width: 60%;
    left: 20%;
    top: 15%;
  }
  &-price {
    text-align: center;
    z-index: 2;
    position: absolute;
    width: 74.4%;
    font-family: "DM Serif Display", serif;
    font-size: 1.1vw;
    line-height: 1.3vw;
    font-weight: 400;
    color: #f9da9c;
    top: 75%;
    left: 12.8%;
  }
  &-skill {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    width: 74.4%;
    top: 85%;
    left: 12.8%;
    img {
      border-radius: 10px;
      width: 18%;
    }
  }
}

@media (max-width: 500px) {
  .new-hero-card {
    &-id {
      font-size: 4vw;
      line-height: 5vw;
    }
    &-name {
      font-size: 3vw;
      line-height: 4vw;
    }
    &-level {
      font-size: 3vw;
      line-height: 4vw;
      top: 1.8vw;
    }
    &-levelreal {
      font-size: 2.5vw;
      line-height: 4vw;
      top: 1vw;
      left: 1vw;
    }
    &-price {
      font-size: 3vw;
      line-height: 4vw;
    }
  }
}
