.market-page-footer {
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 9vw;
  border-top: 1px solid hsla(205, 60%, 70%, 0.3);
  @media (max-width: 820px) {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    div {
      padding: 10px;
    }
  }
  svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  &-left {
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
  }
  &-center {
    a {
      margin-left: 12px !important;
    }
  }
  .copyright-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    text-align: center;

    color: #ffffff;

    opacity: 0.5;
  }
}
.market-page-footer-summon {
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 9vw;
  // border-top: 1px solid hsla(205, 60%, 70%, 0.3);
  @media (max-width: 820px) {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    div {
      padding: 10px;
    }
  }
  svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  &-left {
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
  }
  &-center {
    a {
      margin-left: 12px !important;
    }
  }
  .copyright-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    text-align: center;

    color: #ffffff;

    opacity: 0.5;
  }
}
